/* You can add global styles to this file, and also import other style files */

.layer1 {
    position: absolute;
    background: steelblue;
    top: 90px;
    left: 15px;
}

.layer2 {
    position: absolute;
    top: 90px;
    right: 15px;
    line-height: 1px;
}

.layer3 {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 1px;
    height: 5px;
    width: 100px;
}

.hidden {
    display: none;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}