<div class="jumbotron text-center" *ngIf="user">
    <h1>TEAM View</h1>

    <div class="layer1">
        <a class="btn btn-primary" [routerLink]="['/profile']">{{user.name}}</a>
    </div>
    <div class="layer2">
        <a class="btn btn-primary" [routerLink]="['/addteam']">Add New Team</a>
    </div>
    <!-- <div class="layer3">
        <a class="btn btn-primary" [routerLink]="['/addsprint']">Add Sprint</a>
    </div> -->

    <div id="chart">
        <ul class="list-group" *ngFor="let newTeam of teams; let spr of sprint;">
            <div class="list-element" *ngFor="let team of newTeam; let i=index;">
                <li class="list-group-item">Team Name: {{team.teamName}}

                    <!-- <button id="teamId" class="layer3 btn btn-primary" (click)="getId()">Add Sprint</button> -->
                    <!-- <input type="submit" id="getId" class="layer3 btn btn-primary" value="Add sprint"> -->
                    <div class="container">
                        <button type="button" class="layer3 btn btn-primary" (click)="openForm()">Add Sprint</button>
                        <div [hidden]="submitted">
                            <button type="button" class="layer3 btn btn-primary" (click)="closeForm()">Close</button>
                            <h2>Add Sprint</h2>
                            <form (ngSubmit)="onSubmit(id.value)" #sprintForm="ngForm">
                                <div class="form-group">
                                    <label>SP Estimated</label>
                                    <input type="text" [(ngModel)]="spEstimated" name="spEstimated" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>SP Achieved</label>
                                    <input type="text" [(ngModel)]="spAchieved" name="spAchieved" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Sprint Number</label>
                                    <input type="text" [(ngModel)]="sprintNumber" name="spintNumber" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-success" value="Add sprint">Add Sprint</button>
                                <button type="button" class="btn btn-primary btn-success" (click)="sprintForm.reset()">Reset</button>
                            </form>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">Completed At: {{team.completedAt}}</li>
                <li class="list-group-item">Completed: {{team.completed}}</li>
                <li class="list-group-item">Sprint Number: {{i+1}}</li>
                <div [hidden]="" #id>
                    <li>{{team._id}}</li>
                </div>
                <div class="graph">
                </div>

                <br/>
                <br/>
            </div>
        </ul>
    </div>
</div>