<div class="jumbotron text-center" *ngIf="user">
    <h1>TEAM View</h1>

    <div class="layer1">
        <a class="btn btn-primary" [routerLink]="['/profile']">{{user.name}}</a>
    </div>
    <div class="layer2">
        <a class="btn btn-primary" [routerLink]="['/addteam']">Add New Team</a>
    </div>

    <div id="chart">
        <ul class="list-group" *ngFor="let newTeam of teams; let sprN of sprintsNumbers;">
            <div class="list-element" *ngFor="let team of newTeam; let i=index;">

                <li class="list-group-item">Team Name: {{team.teamName}}
                    <div class="container">
                        <a type="button" class="layer3 btn btn-primary" (click)="openForm(team)">Add Sprint</a>
                        <div [hidden]="submitted">
                            <button type="button" class="layer3 btn btn-primary" (click)="closeForm(team)">Close</button>
                            <h2>Add Sprint</h2>
                            <form (ngSubmit)="onSubmit(id.value)" id="team._id" *ngIf="team.showForm" #sprintForm="ngForm">
                                <div class="form-group">
                                    <label>SP Estimated</label>
                                    <input type="number" [(ngModel)]="spEstimated" name="spEstimated" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>SP Achieved</label>
                                    <input type="number" [(ngModel)]="spAchieved" name="spAchieved" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Sprint Number</label>
                                    <input type="number" [(ngModel)]="sprintNumber" name="spintNumber" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-success" value="Add sprint">Add Sprint</button>
                                <button type="button" class="btn btn-primary btn-success" (click)="sprintForm.reset()" [routerLink]="['/dashboard']">Reset</button>
                            </form>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">Completed At: {{team.completedAt.split("T00:00:00.000Z")}}</li>
                <li class="list-group-item">Completed: {{team.completed}}</li>
                <div [hidden]="true" #id>
                    <li>{{team._id}}</li>
                </div>
                <div class="graph">
                </div>
                <br/>
            </div>
        </ul>
    </div>
</div>