<h2 class="page-header">Add New Sprint</h2>
<form (submit)="onAddingSubmit()">
  <div class="form-group">
    <label>Find Team by Team Name</label>
    <input type="text" [(ngModel)]="teamName" name="teamName" class="form-control">
  </div>
  <!-- <div class="form-group">
    <label>Sprint Number</label>
    <input type="number" [(ngModel)]="sprintNumber" name="sprintNumber" class="form-control">
  </div> -->
  <div class="form-group">
    <label>SP Estimated</label>
    <input type="number" [(ngModel)]="spEstimated" name="spEstimated" class="form-control">
  </div>
  <div class="form-group">
    <label>SP Achieved</label>
    <input type="number" [(ngModel)]="spAchieved" name="spAchieved" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>